<div nz-row [nzGutter]="16">

  <!-- Monthly Income -->
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="Monthly Income" style="text-align:center;">
      <nz-statistic
        [nzValue]="sales"
        [nzPrefix]="prefixTpl"
        nzSuffix="$"
        [nzValueStyle]="{ color: '#0099ff' }">
      </nz-statistic>

      <ng-template #prefixTpl>
        <span nz-icon nzType="dollar-circle"></span>
      </ng-template>
    </nz-card>
  </div>

  <!-- Monthly Invoices -->
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="Monthly Invoices" style="text-align:center;">
      <nz-statistic
        [nzValue]="newOrders"
        [nzPrefix]="prefixTp2"
        [nzValueStyle]="{ color: '#ee6633' }">
      </nz-statistic>

      <ng-template #prefixTp2>
        <span nz-icon nzType="send"></span>
      </ng-template>
    </nz-card>
  </div>

  <!-- Monthly Customers -->
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="Monthly Customers" style="text-align:center;">
      <nz-statistic
        [nzValue]="totalCustomers"
        [nzPrefix]="prefixTp3"
        [nzValueStyle]="{ color: '#e19615' }">
      </nz-statistic>

      <ng-template #prefixTp3>
        <span nz-icon nzType="team"></span>
      </ng-template>
    </nz-card>
  </div>

  <div nz-row [nzGutter]="16" style="margin-top: 20px;">
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="Revenue Overview">
      <canvas id="revenueChart"></canvas>
    </nz-card>
  </div>
  <div nz-row [nzGutter]="16" style="margin-top: 20px;">
  <div nz-col [nzSpan]="12">
    <nz-card nzTitle="Invoices Overview">
      <canvas id="invoiceChart"></canvas>
    </nz-card>
  </div>

  <div nz-col [nzSpan]="12">
    <nz-card nzTitle="Customers Growth">
      <canvas id="customerChart"></canvas>
    </nz-card>
  </div>
</div>


